<div ui-content-for="title">
  <span>New Code Set</span>
</div>

<div class="scrollable">
  <div class="scrollable-content section">
    <form role="form" name="createCodeSet" ng-submit='createNewCodeSet()' novalidate>
      <legend>Create New Code Set</legend>
      <div class="form-group has-success has-feedback" data-ng-repeat="input in inputs">
        <label>  <!--for="input.name" ng-show="showInputLabel(input)" -->
          Input Name:
        </label>
        <input
        type="text"
        ng-model="input.name"
        class="form-control"
        placeholder="">
        <label>Input Color:</label>
        <select ng-model="input.color">
          <option value="blue" selected="selected">Blue</option>
          <option value="yellow">Yellow</option>
          <option value="green">Green</option>
          <option value="red">Red</option>
        </select>
        <br>
        <a class="btn btn-primary" ng-show="$last" ng-click="addNewInput()">
          Add Another
        </a>
      </div>

  <div id="inputsDisplay">
      {{ inputs }}
  </div>

    <hr>
    <a class="btn btn-primary btn-block" ng-class="{disabled: createAccount.$invalid}" ng-click="new.createAccount()">Save Code Set</a>

    </form>
  </div>
</div>
