<div ui-content-for="title">
  <span>Previous Session Data</span>
</div>

<div class="scrollable">
  <div class="scrollable-content">

    <div class='section'>
      <div class="pull-left">
        <h4></h4>
      </div>
      <div class="pull-right">
        <a class="btn btn-default" href="/#/mydashboard">
          <i class="fa fa-tachometer fa-lg"></i>
          My Dashboard
        </a>
      </div>
    </div>


    <div class="section" ng-repeat="(sessionDataId, sessionData) in dataSets.sessionData">
      <div class="panel panel-default">
        <div class="panel-heading">

          <div class="btn-group pull-right" ui-state="activeDropdown">
            <a ui-set="{activeDropdown: sessionDataId}"
              ui-scope-context="sessionDataId"
              class='btn'>
              <i class="fa fa-chevron-circle-down fa-lg"></i>
            </a>
            <ul
              class="dropdown-menu"
              ui-outer-click="Ui.turnOff('activeDropdown')"
              ui-outer-click-if="Ui.eq('activeDropdown', sessionDataId)"
              ui-scope-context="sessionDataId"
              ui-show="activeDropdown == sessionDataId"
              ui-turn-off="activeDropdown">
            <li>
              <a class="" href="/#/sessiondatasummary/{{sessionDataId}}">
                <i class="fa fa-file-o"></i>
                Summary
              </a>
            </li>
            <li>
              <a class="" href="/#/graphsessiondata/{{sessionDataId}}">
                <i class="fa fa-line-chart"></i>
                Graph
              </a>
            </li>
            <li>
              <a class="" href="/#/rawsessiondata/{{sessionDataId}}">
                <i class="fa fa-archive"></i>
                Raw Data
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a class="" href="/#/sessiondata/{{sessionDataId}}/edit">
                <i class="fa fa-pencil-square-o"></i>
                Edit Data
              </a>
            </li>
            <li>
              <a ng-click="dataSets.deleteDataSet(sessionDataId)">
                <i class="fa fa-times-circle"></i>
                Delete Data
              </a>
            </li>
          </ul>
        </div>
          <h3 class="panel-title">{{sessionData.name}}</h3>
        </div>
        <div class="panel-body">
          Start Date: {{sessionData.startDate}}<br>
          Description: {{sessionData.description}}<br>
          Code Set: {{sessionData.codeSetName}}<br>
        </div>
      </div>
    </div>

  </div>
</div>
