<div ui-content-for="title">
  <span>Previous Session Data</span>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="section" ng-repeat="(codeSetId, codeSet) in dataSet.codeSet">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="btn-group pull-right">
            <a class="btn" href="">Summary</a>
            <a class="btn" href="/#/rawsessiondata/{{codeSetId}}">Raw Data</a>
            <a class="btn" href="">Graph</a>
          </div>
          <h3 class="panel-title">{{codeSet.name}}, {{codeSetId}}</h3>
        </div>
        <div class="panel-body">
          Start Date: {{codeSet.startDate}}<br>
          Description: {{codeSet.description}}<br>
          Code Set: {{codeSet.codeSetName}}<br>
        </div>
      </div>
    </div>

  </div>
</div>
