<div ui-content-for="title">
  <span>View Data Set</span>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="section">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="btn-group pull-right">
            <a class="btn btn-primary" href="/#/previoussessiondata">Back</a>
          </div>
          <h3 class="panel-title">{{dataSet.codeSet.name}}</h3>
        </div>
        <div class="panel-body">
          Start Date: {{dataSet.codeSet.startDate}}<br>
          End Date: {{dataSet.codeSet.endDate}}<br>
          Description: {{dataSet.codeSet.description}}<br>
          Code Set: {{dataSet.codeSet.codeSetName}}<br>
          {{dataSet.codeSet.behaviorInstances}}

        </div>
      </div>
    </div>

  </div>
</div>
