<div ui-content-for="title">
  <span>Raw Data</span>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="section">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="btn-group pull-right">
            <a class="btn btn-default" href="/#/previoussessiondata">
              <i class="fa fa-chevron-left"></i>
              Back
            </a>
          </div>
          <h3 class="panel-title">{{dataSet.codeSet.name}}</h3>
        </div>
        <div class="panel-body">
          Code Set: {{dataSet.codeSet.codeSetName}}<br>
          Description: {{dataSet.codeSet.description}}<br>
          Start Date: {{dataSet.codeSet.startDate}}<br>
          End Date: {{dataSet.codeSet.endDate}}<br>
          <div ng-repeat="instance in dataSet.codeSet.behaviorInstances">
            <hr>
          {{instance.name}} |
          {{instance.id}} |
          {{instance.time}}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
