<div class="modal modal-overlay" ui-if='session-overlay' ui-state='session-overlay'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close"
                ui-turn-off="modal2">&times;</button>
        <h4 class="modal-title">Current Session</h4>
      </div>
      <div class="modal-body">
        <div class="section">
          <div class="stopwatch bottomline">
            <div id="time-container">00:00:00</div>
          </div>
          Number of Events Recorded: {{dataEventCounter}}
          <div class="start-stop-btns">
            <div class="start-left">
              <a class="btn btn-success btn-block" ng-click="codeSetcodeSet.startTimer()">Start</a>
            </div>
            <div class="stop-right">
              <a class="btn btn-danger btn-block" ng-click="codeSet.stopTimer()">Stop</a>
            </div>
          </div>
        </div>
        {{codeSet.inputs}}

        <div class="section">
            <div class="usr-btns">

              <div class="usr-btn" ng-repeat="(id, button) in codeSet.codeSetData.inputs">
                <a class="btn btn-block" ng-class="button.color" ng-click="codeSet.dataEvent(button.name, button.id)">{{button.name}}</a>
              </div>

            </div>
        </div>

        <div class="section">
          <div class="records"></div>
        </div>

        <div class="section">
          <label>Session Name:</label>
          <input type="text" class="form-control" ng-model="sessionLabel">
        </div>

        <div class="section">
          <label>Session Description:</label>
          <input type="text" class="form-control" ng-model="sessionDesc">
        </div>

        <div class="section">
          <a class="btn btn-block btn-danger" ng-click="codeSet.saveSession(codeSet.codeSetData.codeSetId, time.codeSetData.description)">Save Session</a>
        </div>

      </div>
      <div class="modal-footer">
        <button ui-turn-off="modal2" class="btn btn-default">Close</button>
      </div>
    </div>
  </div>
</div>
