<div ui-content-for="title">
	<span>Current Session</span>
</div>

<div class="scrollable">
	<div class="scrollable-content section">

		<div class="section">

			<div class="stopwatch bottomline">
				<div id="time-container"></div>
			</div>

			<div class="start-stop-btns">
				<div class="start-left">
					<a class="btn btn-success btn-block" ng-click="time.startSession()">Start</a>
				</div>
				<div class="stop-right">
					<a class="btn btn-danger btn-block" ng-click="time.endSession()">Stop</a>
				</div>
			</div>

		</div>

		<div class="section">

				<div class="usr-btns">

					<div ng-repeat="(id, button) in time.codeSetData.inputs">
						<a class="btn btn-block" ng-class="button.color" ng-click="time.newEvent(button.name)">{{button.name}}</a>
						<br>
					</div>

				</div>

		</div>

		<div class="records"></div>
	</div>
</div>
<!--
<div ng-repeat>
	<a class="{{color}}" ng-click="button.dataPoint({{buttonName}})">
	{{buttonName}}
	</a>
</div>
-->
