<div ui-content-for="title">
  <span>View Code Sets</span>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="section">
      <a class="btn btn-lg btn-primary btn-block" href="#/newcodeset">Add New Code Set</a>
    </div>
    <div class="section" ng-repeat="(codeSetId, codeSet) in viewCodeSet.codeSet">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="btn-group pull-right">
            <a class="btn btn-warning" href="/#/codeset/{{codeSetId}}/edit">Edit</a>
            <a class="btn btn-danger" ng-click="viewCodeSet.removeCodeSet(codeSetId)">Delete</a>
          </div>
          <h3 class="panel-title">{{codeSet.codeSetId}}</h3>
        </div>
        <div class="panel-body">
          {{codeSet.description}}
        </div>
      </div>
    </div>

  </div>
</div>
