<div class="scrollable">
  <div class="scrollable-content">
    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
        <h1>B.A.T. <small>0.0.1</small>
        </h1>
      </div>
      <div class="list-group-item list-group-item-home media">
        <div>
          <i class="fa fa-rebel feature-icon text-primary"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Behavior Analysis Tracker</h3>
            B.A.T. is a user-friendly tool for professionals to record, view,
            edit, and export behavioral data.
        </div>
      </div>
      <div class="list-group-item list-group-item-home media">
        <div class="list-group">
          <a class='btn btn-primary' href='#/createaccount'>Create Account</a>
        </div>
        <div class="list-group">
          <a class='btn btn-primary' href="#/login">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
